/* Common resets */
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 border: 0px solid burlywood;
}

html, body {
 font-family: Arial, sans-serif;
 background-color: #f9f9f9;
 color: #333;
 height: 100%;
}

header {
 position: fixed;
 z-index: 1000;
 width: 100%;
 background-color: #083d77;
 color: #ffffff;
 padding: 1rem;
}

.app-title {
 margin: 0;
 font-size: 1.5rem;
 font-weight: bold;
}

nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav-link {
 color: #ffffff;
 text-decoration: none;
 font-size: 1rem;
}

.nav-link:hover {
 text-decoration: underline;
}

main {
 padding: 2rem;
}

.hero {
 background: #fff;
 padding: 2rem;
 border-radius: 8px;
 margin-bottom: 2rem;
 margin-top: 6rem;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero form {
 display: flex;
 flex-direction: column;
 margin-top: 1rem;
}

.hero form label {
 margin-bottom: 0.5rem;
}

.hero form input {
 padding: 0.5rem;
 margin-bottom: 1rem;
 border: 1px solid #ccc;
 border-radius: 4px;
}

.hero form button {
 background-color: #083d77;
 color: #fff;
 padding: 0.75rem 1rem;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 font-size: 1rem;
}

a:visited{
 color: blue;
}

.fourth-box, .fifth-box{
 display: none;
}

.hero form button:hover {
 background-color: #072f5f;
}

#button-save-verse{
 margin-top: 1em;
}

#button-remove-verses{
 margin-top: 1em;
}

.results {
 background: #fff;
 padding: 2rem;
 border-radius: 8px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#verse-display {
 margin-bottom: 1rem;
}

button, .add-flashcard-btn {
 background-color: #f4aa41;
 color: #fff;
 min-width: 100px;
 padding: 0.5em 1.5em;
 text-align: center;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 font-size: 1rem;
}

.add-flashcard-btn:hover:not(:disabled) {
 background-color: #e99a33;
}

.add-flashcard-btn:disabled {
 background-color: #ccc;
 cursor: not-allowed;
}

.flashcards-container {
 background: #fff;
 padding: 2rem;
 border-radius: 8px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boxes {
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
 margin-top: 1rem;
}

.box {
 flex: 1;
 min-width: 250px;
 background-color: #eef3f8;
 border-radius: 8px;
 padding: 1rem;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.box h3 {
 margin-bottom: 1rem;
}

.box ul {
 list-style: none;
}

.box ul li {
 background: #ffffff;
 margin-bottom: 0.5rem;
 padding: 0.75rem;
 border-radius: 4px;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

footer {
 background-color: #083d77;
 color: #ffffff;
 text-align: center;
 padding: 1rem;
 position: fixed;
 bottom: 0;
 left: 0;
 width: 100%;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.transparent-bg{
 background-color: transparent;
}

.pluralized-box, #boxnum, #details-reveal-answer{
  margin-top: 2em; 
}