<!DOCTYPE html>
<html lang="en">

  <head>
    <title>
    {% block title %}
    {% endblock title %}
    </title>
    {% block description %}
    {% endblock description %}
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/bibleflashcardsjs/images/icons/favicon.ico">

    <!-- custom stylesheets to fit this websites theme -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/static/bibleflashcardsjs/css/styles.css"> 

    <!-- custom stylesheets to fit this websites theme 
    <link rel= "stylesheet" href="/static/bibleflashcardsjs/css/main-stream-styles.css">
    <link rel="stylesheet" href="/static/bibleflashcardsjs/css/index-styles.css"> --> 

    <!-- scripts -->
    <script src="../../static/bibleflashcardsjs/js/flashcard-globals.js"></script>
    <script src="/static/bibleflashcardsjs/js/pluralize.js"></script>
    
    {% block head %}
    {% endblock head %}

  </head>

  <body>

    {% block content %}     
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}
      
    {% block script %}
    {% endblock script %}

  </body>

</html>
