<!-- bibleflashcards/card.html -->
{% block head %}
  <link rel="stylesheet" href="/static/bibleflashcardsjs/css/box-styles.css">
{% endblock head %}

<article id="box-article">
  <h4 id="card-question"></h4>
  <p id="card-answer-transparent"></p>
  
  <details id="details-reveal-answer">
      <summary>Reveal Answer</summary>
      <p id="card-answer">{{ card.answer }}</p>
  </details>
  
  <div class="flex-row">
    <div> 
      <a id="hyperlink-check" href="/nowhere"><button><image src="/static/bibleflashcardsjs/images/icons/check.png" aria-label="check yes" id="button-check"></button></a>
    </div>
    <div>
      <a id="hyperlink-x" href=""><button><image src="/static/bibleflashcardsjs/images/icons/x.png" aria-label="x no" id="button-x"></button></a>
    </div>
          
    <hr>
      
</article>
</div>
