{% extends 'bibleflashcardsjs/base.html' %}

{% block title %}
{{verse_text}}
{% endblock title%}

{% block description %}
    <meta name="description" content="This page allows you to personalize your KJV Bible flashcards to suit your preferences.">
{% endblock description %}

{% block head %}
{% endblock head %}

{% block content %}
<header>
 <nav>
   <h1 class="app-title">Bible Flashcard Search (BFS)</h1>
 </nav>
</header>

<main>
 <section class="hero">
   <div>
     <a href="{% url 'showCards' %}" role="button">
      <button class="add-flashcard-btn">All Cards</button>
     </a>
   </div>
  <span id="insert-html-here"></span>
 </section>  
 <section class="hero">
   <h2>Verse Search</h2>
   <p>Find any verse by reference (e.g., John 3:16).</p>
   <form id ="form-flashcards" method = "post" id="bibleFlashCards">
    {% csrf_token %}
    <!--  <fieldset class="border border-secondary p-2">   -->
     <legend class="w-auto">Create New Card</legend>
     <label for="text-verse">Verse Reference:</label>
     {{ form.verse }}
     <button id="button-find-verse">Search</button>
   </form>
 </section>

 <section class="results">
   <h2>Verse Results</h2>
   <div id="verse-display">
     <!-- The retrieved verse text will be displayed here -->
     {% if notdefaultbook %}
     <p><h3 class="alert alert-custom">The book of {{ bookname }} has {{ numofchaps }} chapters.</h3></p>
     {% else %}
     <p><h3 class="alert alert-custom"><span id="verse-text">{{ verse_text }}</span></h3></p>
     <h2><p id="versereference">{{ versereference }}</p></h2>
     {% endif %}
   </div>
   <button id="button-save-verse" class="add-flashcard-btn">Add to Flashcards</button>
   <button id="button-remove-verses" class="add-flashcard-btn">Remove All Verses</button>
 </section>
 <script src="../../static/bibleflashcardsjs/js/edit-verses.js"></script>
 {% include 'bibleflashcardsjs/box-navigation.html' %}   
 
</main>

<footer>
  &copy;2025 freesmartphoneapps.com 
</footer>
{% endblock content %}

{% block script %}
{% endblock script %}
