{% extends 'bibleflashcardsjs/base.html' %}
{% load humanize %}
{% block title %}
  Bible Flashcards Search
{% endblock title %}
  
{% block description %}
  <meta name="description" content="Search for any verse in the King James Version(KJV) of the Bible by verse number and then create a flashcard to be added to a flashcards list.">
{% endblock description %}
{% block head %}
<link rel="stylesheet" href="/static/bibleflashcardsjs/css/styles.css">
{% endblock head %}

{% block content %}
  <header>
   <nav>
     <h1 class="app-title">Bible Flashcard Search (BFS)</h1>
   </nav>
  </header>
  <main>
   <div id="index-main">
     <section class="hero">
       <h2>All Cards</h2>
       <div>
         <a href="{% url 'editVerses' %}" role="button">
          <button class="add-flashcard-btn">Create New Card</button>
         </a>
       </div>
      <span id="insert-html-here"></span>
     </section>  
   </div>

   <!-- html for box page goes here -->
   <div id="boxes-main">
     <section class="hero">
       <div class="flex-row">
        <div>
          <a href="{% url 'showCards' %}" role="button">
           <button class="add-flashcard-btn">All Cards</button>
          </a> 
        </div>
        <div>
          <a href="{% url 'editVerses' %}" role="button">
            <button class="add-flashcard-btn">Create New Card</button>
           </a>
        </div>   
       </div>
       <h3 id="boxnum"></h3>
       <div id="show-card-container"> 
         {% include 'bibleflashcardsjs/card.html' %}
       </div> 
     </section>
   </div>
   {% include 'bibleflashcardsjs/box-navigation.html' %}
 </main>
 <footer>
   &copy;2025 YourWebsite.com
 </footer>
{% endblock content %}

{% block script %}
  <script src="../../static/bibleflashcardsjs/js/main.js"></script>
{% endblock script %}
