body{
 background-color: white;
 color: black;
}

#index-main{
 display: block;
}

.flex-row{
 display: flex;
 flex-direction: row;
 justify-content: left;
 align-items: center;
 gap: 1em;
}

.flex-col{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.add-flashcard-btn{
 margin-left: 0em;
}