*{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 box-sizing: border-box;
 border: 0px solid blue;
}

body{
 font-size: 2rem;
}

/* custom global css variables that are at the <html> element root level or scope */
:root {
 --accent: #6e48ad;
 --accent-bg: white;
 --bg: #fff;
 --text: #212121;
 --text-light: #585858;
 --border: #d8dae1;
 --code: #d81b60;
 --preformatted: #444;
 --marked:#ffdd33;
}

article {
 background-color: var(--marked);
 border: 1px solid var(--border);
 border-radius: 5px;
 padding: 1em;
 margin: 1em 0;
}

fieldset{
border: 0px solid #0000ff;
}

h2 {
 text-align: center;
}

h2, h4 {
 margin-top: 0;
}

hr {
 background: var(--accent);
 border-color: var(--accent);
}

.gradient-button {
 font-size: 1.875em;
 font-weight: 600;
 user-select: none;
 /* Set a linear gradient as the background of the entire element */
 background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
 padding-left: .17em; /* Adding padding helps make the background visible */
 padding-right: .17em;
 padding-top: .17em;
 text-align: left;
 /* Create a gradient for the text */
 position: relative; /* Set up for the pseudo-element */
 display: inline-block; /* Ensure gradient stays within text bounds */
 color: transparent; /* Required for text gradient to be visible */
 border: 0px solid blue;
}

.gradient-button::before {
  /* Create a pseudo-element to hold the gradient for the text */
  content: attr(data-button-text);
  position: absolute;
  top: 0em;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, violet,indigo,lightblue,lightgreen,yellow,orange,red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 1; /* Ensure this gradient is above the normal background */
  pointer-events: none; /* Ensure this pseudo-element doesn't block interaction with the text */
}

button{
 border-radius: 1em !important;
 background-color: #007bff;
}

input, select, textarea {
 width: 100%;
}
.alert-custom{
 background-color: var(--marked);
 color: #000000;
}

#index-main{
 display: block;
}

#boxes-main{
 display: none;
}

#text-verse{
 width: 12em;
}

a, a:visited{
 color: #007bff;
}

.flex-row{
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
 gap: 4em;
}