<section class="flashcards-container">
 <h2>Your Flashcards</h2>
 <div class="boxes">
   <article class="box">
     <h3><a id="first-box" href="{% url 'show_cards_main_stream' %}?box=1">Box 1 (New Material</a></h3>
     <ul id="box1-list">
       <!-- New flashcards here -->
     </ul>
   </article>
   <article class="box">
     <h3><a id="second-box" href="{% url 'show_cards_main_stream' %}?box=2">Box 2 (Review</a></h3>
     <ul id="box2-list">
       <!-- Review flashcards here -->
     </ul>
   </article>
   <article class="box">
     <h3><a id="third-box" href="{% url 'show_cards_main_stream' %}?box=3">Box 3 (Mastery</a></h3>
     <ul id="box3-list">
       <!-- Mastery flashcards here -->
     </ul>
   </article>
   <article class="box">
    <h3><a id="fourth-box" href="{% url 'show_cards_main_stream' %}?box=4">Box 4 (Mastery</a></h3>
    <ul id="box4-list">
      <!-- Review flashcards here -->
    </ul>
  </article>
  <article class="box">
    <h3><a id="fifth-box" href="{% url 'show_cards_main_stream' %}?box=5">Box 5 (Mastery</a></h3>
    <ul id="box5-list">
      <!-- Mastery flashcards here -->
    </ul>
  </article>
 </div>
</section>

<script src="/static/biblefs/js/tally-boxes.js" ></script>